/* Lowercase title */
.navigation .navigation-title {
    text-transform: lowercase;
}

/* Lowercase tags */
.content .post .post-meta .tags .tag a {
    text-transform: lowercase;
}

code {
    hyphens: none; /* Prevent hyphenation */
}
